
.button {
  background: #1BA0D7;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
}

.button:hover {
  background: #c0c0c0;
}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    animation-name: modalOpen;
    animation-duration: 1s;
}

.middle {
    display: table-cell;
    vertical-align: middle; /* change position of modal */
}

.inner {
    margin: auto;
    padding: 21px;
    width: 80%; /* change width of modal */
    background: #fff;
    border-radius: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.closeBtn:hover, closeBtn:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalOpen {
  from {opacity: 0};
  to: {opacity: 1};
}
